<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.redbus">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RedBus"
        tools:targetApi="31">

        <activity
            android:name=".ui.startup.splash.splashScreen"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
        </activity>
        <activity android:name=".ui.searchLoc.activitySearchLoc" />
        <activity android:name=".ui.searchLoc.activitySearchLocDest" />
        <activity android:name=".ui.searchBuses.activitySearchBuses" />
        <activity android:name=".ui.seats.bookSeats" />
        <activity android:name=".ui.seats.contactInfo" />
        <activity android:name=".ui.registration.RegisterUser" />
        <activity android:name=".ui.payment.paymentMethodActivity" />
    </application>

</manifest>